 <footer>
        <div class="container2">
            <section class="footerleft">
                <div class="aboutus">
                    <H4>About Us</H4>
                    <a href="#">About Us</a>
                    <a href="#">FAQs</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">terms and Conditions</a>
                </div>
                <div class="community">
                    <h4>Community</h4>
                    <a href="#">Forum</a>
                    <a href="#">Top Contributors</a>
                    <a href="#">Lastest Facts and Stories</a>
                    <a href="#">Latest Comments</a>
                </div>
            </section>

            <div class="contactus">
                <h4>Contact</h4>
                <a href="#">Contact Us</a>
                <a href="#">Jobs</a>
                <a href="#">Copyright / DMCA</a>
            </div>

            <section class="footerright">
                <div class="partners">
                    <h4>Partners</h4>
                    <a href="#">Metadate / API</a>
                    <a href="#">Customers</a>
                    <a href="#">App Gallery</a>
                </div>
                <div class="sitemaps">
                    <h4>Sitemaps</h4>
                    <a href="#">Artists</a>
                    <a href="#">Tracks</a>
                    <a href="#">Samples</a>
                    <a href="#">Covers</a>
                    <a href="#">Remixes</a>
            </section>
    </footer>