    <header>
        <nav class="container">
            <img src="/images/logo.png" alt="logo">

            <div class="navdroite">
                <input type="text" placeholder="Rechercher">
                <a href="{{ path('app_login') }}" class="signin">
                    <img src="/images/profile.png" alt="signin">
                    <p>Connexion</p>
                </a>
                <a href="{{ path('app_register') }}" class="signin">
                    <img src="/images/inscription.png" alt="signin">
                    <p>Inscription</p>
                </a>
            </div>
        </nav>
    </header>