{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

  
<div class='container'>
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">Se connecter</h1>
            
             <div class="mb-3">
                <label for="exampleFormControlInput1" class="visually-hidden">votre adresse mail</label>
                <input type="email"  name="email"  class="form-control" id="inputEmail" placeholder="votre adresse mail"required 
                autofocus>
             </div>

            <div class="col-auto">
                <label for="inputPassword" class="visually-hidden">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Mot de passe" required>
            </div>
                       
             <input 
                type="hidden" 
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

              <div class='d-flex justify-content-center'>
               <button type="submit" class="btn btn-primary">Connexion</button>
               </div>
               
            </div>
        </form>
    </div>
</div>
{% endblock %}