{% extends 'base.html.twig' %}

{% block title %}Resultats de la recherche{% endblock %}

{% block body %}
<main class="flex-column">

        {# <!-----champ de recherche-----> #}
        <form action="" class="align-self-center">{{form(form)}}</form>
        {# <!-----champ de recherche-----> #}

        <section class="">

            <h3><strong>ARTISTES</strong></h3>
            <div class="artiste mb-5">
                
                <a href="#" class="d-flex flex-column align-items-start text-decoration-none text-dark">
                    <img src="/images/daftpunk_photo.jpg" alt="photoartiste" class="me-2">
                    <h4 class="text-center">DAFT PUNK</h4>
                </a>
            </div>

            <h3><strong>MORCEAUX</strong></h3>
            <div class="morceaux mb-5 col-6">

                <a href="#" class="d-flex flex-row mt-4 text-decoration-none text-dark">
                    <div>
                        <img src="/images/aerodynamic.jpg" alt="pochette2" class="pochette me-1">
                    </div>
                    <span class="flex-column">
                        <h5 class="mb-0">Aerodynamic</h5>
                        <p>Daft Punk</p>
                    </span>
                </a>

                <a href="#" class="d-flex flex-row mt-4 text-decoration-none text-dark">
                    <div>
                        <img src="/images/da_funk.jpg" alt="pochette3" class="pochette me-1">
                    </div>
                    <span class="flex-column">
                        <h5 class="mb-0">Da Funk</h5>
                        <p>Daft Punk</p>
                    </span>
                </a>

                <a href="#" class="d-flex flex-row mt-4 text-decoration-none text-dark">
                    <div>
                        <img src="/images/harder_better.jpg" alt="pochette4" class="pochette me-1">
                    </div>
                    <span class="flex-column">
                        <h5 class="mb-0">Harder Better Faster Stronger</h5>
                        <p>Daft Punk</p>
                    </span>
                </a>
            </div>



        </section>
{% endblock %}
