{% extends 'base.html.twig' %}

{% block title %}artist{% endblock %}

{% block body %}
    <div class='container'> 
        <section class="ficheartiste">
            <img src="/img/daftpunk_photo.jpg" alt="photogroupe">
            <div class="presentation">
                <h2>DAFT PUNK</h2>
                <p>Aliases: <a href="#">Indo Silver Club</a> <br>Group members: <a href="#">Thomas Bangalter</a>, <a
                        href="#">Guy Manuel de Homem Christo</a></p>
                <h3>Latest Release</h3>
                <div class="latestrelease">
                    <img src="/img/ram-10th-anniversary-edition.jpg" alt="randomaccess">
                    <p><a href="#">Prime (2012 Unfinished)</a> (2023) <br><a href="#">Random Access Memories (10th anniversary edition)</a></p>
                </div>
            </div>
        </section>

        <section class="tracklist">
            <div class="harderbetter">
                <img src="/img/harder_better.jpg" alt="harderbetter">
                <h4><a href="#">Harder, Better, Faster, Stronger</a></h4>
            </div>
            <div class="onemoretime">
                <img src="/img/one_more_time.jpg" alt="onemore">
                <h4><a href="#">One More Time</a></h4>
            </div>
            <div class="facetoface">
                <img src="/img/face_to_face.jpg" alt="facetoface">
                <h4><a href="#">Face to Face</a></h4>
            </div>
            <div class="aerodynamic">
                <img src="/img/aerodynamic.jpg" alt="aerodynamic">
                <h4><a href="#">Aerodynamic</a></h4>
            </div>
        </section>
    </div>    

    



{% endblock %}