body {
    background-color:white;
}
#nav {
  margin-top: 50px;
}

#interview h2 {
    background: linear-gradient(45deg, #000 12.5%, #E9D051 12.5%, #E9D051 37.5%, #000 37.5%, #000 62.5%, #E9D051 62.5%, #E9D051 87.5%, #000 87.5%);
  background-size: 2px 2px;
  background-position: 50px 50px;
}

#interview {

    background-color: #E9D051 ;
    margin-top: 50px;
}

#platform h2 {
    background: linear-gradient(45deg, #000 12.5%, #02BCB2 12.5%, #02BCB2 37.5%, #000 37.5%, #000 62.5%, #02BCB2 62.5%, #02BCB2 87.5%, #000 87.5%);
  background-size: 2px 2px;
  background-position: 50px 50px;
}

#platform {
    background-color: #02BCB2;
}

#sample h2 {
  
  background: linear-gradient(45deg, #000 12.5%, #39B3D9  12.5%, #39B3D9  37.5%, #000 37.5%, #000 62.5%, #39B3D9  62.5%, #39B3D9  87.5%, #000 87.5%);
  background-size: 2px 2px;
  background-position: 100px 100px;
}
#sample {
    background-color:  #39B3D9 ;
}

#sample img {
 
  background-color:  #39B3D9 ;
  width: 200px;
  height: 200px;
}