body {
  background-color:#dec961b0;
}

.container {
  background-color: white;
}
.container2 {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: outfit;
  background-color: white;
}

#interview h2 {
    background: linear-gradient(45deg, #000 12.5%, #E9D051 12.5%, #E9D051 37.5%, #000 37.5%, #000 62.5%, #E9D051 62.5%, #E9D051 87.5%, #000 87.5%);
  background-size: 2px 2px;
  background-position: 50px 50px;
}

#interview {
    margin-top: 50px;
}
#interview img {
  height: 300px;
}


#sample h2 {
  margin-top: 70px;
  background: linear-gradient(45deg, #000 12.5%, #39B3D9  12.5%, #39B3D9  37.5%, #000 37.5%, #000 62.5%, #39B3D9  62.5%, #39B3D9  87.5%, #000 87.5%);
  background-size: 2px 2px;
  background-position: 100px 10px;
}

#sample img {
 

  width: 200px;
  height: 200px;
}



/*************HEADER*************/

header {
  height: 80px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.39);
  background-color: white;
}

header img {
  max-height: 74px;
}

.navdroite {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navdroite a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
  margin: 0 40px 0 40px;
}

.signin {
  margin-right: 0px;
}

p {
  margin: 0px;
}

a img {
  width: 50px;
}

#register {
  height: 50px;
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 15px;
  margin-right: 40px;
  background-image: url(/img/search.png);
  background-repeat: no-repeat;
  background-position: 200px 5px;
}


/*************FOOTER*************/

footer {
  margin-top: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
  height: 300px;
  background-color: white;
}

footer div section {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div section div {
  display: flex;
  flex-direction: column;
}

.contactus {
  display: flex;
  flex-direction: column;
}

footer a {
  font-family: outfitlight;
  text-decoration: none;
  color: black;
}

/****************ARTISTE****************/

.centrepage {
  flex-direction: column;
}

.ficheartiste {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ficheartiste img {
  max-height: 300px;
  margin-right: 50px;
}

.presentation {
  display: flex;
  flex-direction: column;
}

.presentation h3 {
  margin-top: 30px;
}

.latestrelease {
  display: flex;
  flex-direction: row;
}

.latestrelease img {
  max-height: 80px;
  margin-right: 10px;
}

.tracklist div {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.tracklist div img {
  margin-right: 20px;
}