{% extends 'base.html.twig' %}

{% block article %}ArticleController!{% endblock %}

{% block body %}
  <h1>Shad Interviewed for WhoSampled</h1>
 <div class='container' style="background-color: #02BCB2">
    <div class="col-6">
     <img src="{{ asset('image/Shad_Interview_Cover.jpg' ) }}" alt="">
    </div>
    </div>
    <div id='platform' class='container' style="background-color: #E9D051">
      <p class="font-body text-lg">Micah Gordon</p>
        <p class="mt-2 text-2xl lg:text-4xl font-heading leading-tight">Peach Picks</p>
    </div>
       <div class='container'>
         <div class="col-6">
        <p class="mt-2 text-2xl lg:text-4xl font-heading leading-tight">1990</p>
      <div class="rte product-rte text-rte my-8 ">
  <audio controls src="/musique/perfect-beauty-191271.mp3"></audio>
<div>
      <h1>Contains samples of  songs </h1>
      <i class="bi bi-arrow-right-circle-fill"></i>
</div>

    </div>
   </div>
</div>


          
</div>
</div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
</svg>

{% endblock %}
