{% extends 'base.html.twig' %}

{% block article %}ArticleController!{% endblock %}

{% block body %}
 <h1>Bienvenue</h1>
  <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>
 <h1>Bienvenue</h1>

{% endblock %}
